.listProducts-heading {
    display: flex;
    justify-content: space-between;
    height: 52px;
    overflow: hidden;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
  }
  .listProducts-heading-title {
    color: #505eb1;
    font-size: 22px;
  }
  .listProducts-heading-search {
    min-width: 310px;
    background-color: #996666;
    border-radius: 8px;
    padding: 8px 10px;
    border: #3a3131;
    font-size: 16px;
  }
  ::placeholder {
    color: #fff;
  }
  input, select, textarea .listProducts-heading-search{
      color: #fff;
  }
  .listProducts-heading-add-product {
    padding: 0 4px;
    background-color: #996666;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    border: #3a3131;
    cursor: pointer;
    font-size: 16px;
  }
  .listProducts-heading-add-product:hover {
    /* color: #62e01a; */
    background-color: rgb(180, 180, 180);
  }
  .listProducts-heading-info {
      display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .listProducts-heading-info-name {
  }
  .listProducts-heading-info-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 8px;
  }