/* chung */

/* add product */

/* Content */
input,
select,
textarea {
  color: #0a0606;
}
/* Input text */

.addProduct-content {
  display: flex;
  color: #0e8b8b;
  font-size: 16px;
  box-sizing: border-box;
}
.addProduct-content-input-text {
  flex: 1;
}
.addProduct-content-text-name {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 10px;
}
.addProduct-content-text-name-label {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}
.addProduct-content-text-name-title {
  margin-left: 6px;
  line-height: 0;
  min-width: 124px;
}
.addProduct-content-text-name-input {
  flex: 1;
  border-radius: 4px;
  border: solid 1px #3b7458;
  margin-left: 6px;
  padding: 6px 4px;
  color: #6bb7b8;
  margin-right: 6px;
}
.addProduct-content-catelory {
  margin: 0 8px;
}

.addProduct-content-text-des {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.addProduct-content-text-des-label p {
  /* color: red; */
  min-width: 14px;
}

.addProduct-content-text-des-input {
  /* flex: 1 1; */
  min-width: 549px;
  margin-left: 9px;
  min-height: 590px;

  padding: 4px;
  border-radius: 4px;
  border: solid 1px #3b7458;
  resize: none;
}
.addProduct-content-text-bot {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.addProduct-content-text-bot-input {
  border-radius: 4px;
  border: solid 1px #3b7458;
  margin-left: -16px;
  padding: 4px 4px;
  color: #6bb7b8;
}

/* Input size */
.addProduct-content-size {
  flex: 1;
}
.wrraper-table {
  overflow: auto;
  max-height: 340px;
  /* width: 100%; */
}
.addProduct-content-size-heading {
  border-radius: 4px;
}

/* table */
.addProduct-content-size-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
  /* max-height: 220px; */
  text-align: center;
  /* display: inline-block; */
  /* overflow: auto; */
  /* margin-top:  20px; */
  max-height: 350px;
}

.addProduct-content-size-row-heading-table {
  background-color: #6c7ae0;
  color: white;
  height: 36px;
}
/* moi them */
/* .addProduct-content-size-row-heading div{
  margin-top: -20px; 
  position: absolute;
} */

/*  */
.addProduct-content-size-row-heading-stt {
  margin-left: 10px;
}

.addProduct-content-size-row-add {
  border-radius: 4px;
  border: solid #ccc 1px;
  padding: 2px 9px;
  /* color: #000; */
  cursor: pointer;
  background-color: #ffa9a9;
}
.addProduct-content-size-row-add:hover {
  opacity: 0.9;
}

/* IMG */
.addProduct-content-size-display-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.addProduct-content-size-display {
  /* margin-top: 14px;
  text-align: center;
  height: 80%; */
  display: flex;
  /* align-items: center; */
}
.addProduct-content-size-display-text {
  line-height: 0;
}
.addProduct-content-size-display-img {
  margin: 0;
}
.addProduct-content-size-display-img-size {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

.addProduct-img-preview-div {
  position: relative;
}
.addProduct-img-preview {
  position: absolute;
  top: 32px;
  right: -50px;
  width: 230px;
  height: 230px;
  object-fit: contain;
}
.addProduct-content-size-display-text-view {
  translate: (50%);
}
.addProduct-img-preview-view {
  top: 30px;
  right: -93px;
}
.addProduct-submit .fas {
  margin-right: 4px;
}
.addProduct-submit {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 8px 14px;
  font-size: 22px;
  border-radius: 10px;
  border: solid 1px #ccc;
  background-color: #42ff00;
  cursor: pointer;
}
.addProduct-submit:hover {
  background-color: #fff;
  color: #42ff00;
}
/* list product */

.listProducts-heading {
  display: flex;
  justify-content: space-between;
  height: 52px;
  overflow: hidden;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  font-size: 16px;
}
.listProducts-heading-title {
  color: #505eb1;
  font-size: 22px;
}
.listProducts-heading-wrap-search {
  border-radius: 10px;
  background-color: #a0c5b3;
}
.listProducts-heading-wrap-search i {
  font-size: 26px;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 7px;
}
.listProducts-heading-search {
  min-width: 310px;
  border-radius: 8px;
  padding: 8px 10px;
  border: none;
  background-color: #a0c5b3;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  /* background-color: rgb(136, 109, 109); */
}
::placeholder {
  color: #fff;
}

.listProducts-heading-add-product {
  padding: 0 4px;
  background-color: #996666;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  border: #3a3131;
  cursor: pointer;
  font-size: 16px;
}
.listProducts-heading-add-product:hover {
  /* color: #62e01a; */
  background-color: rgb(180, 180, 180);
}
.listProducts-heading-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listProducts-heading-info-name {
}
.listProducts-heading-info-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 8px;
}
.listProducts-heading-add-product .fa-plus {
  margin-right: 4px;
}

/* table */
.listProducts-content-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
}
.listProducts-content-row {
  cursor: pointer;
  height: 40px;
}
.listProducts-content-row-heading-table {
  background-color: #6c7ae0;
  border-spacing: 0;
  color: #fff;
  /* font-size: 16px; */
  height: 44px;
  /* border-radius: 53px; */
  /* overflow: hidden; */
}

.listProducts-content-row-remove {
  border-radius: 4px;
  color: #fff;
  background-color: #dc3545;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px 8px;
  z-index: 1;
}
.listProducts-content-row-remove:hover {
  /* color:#ff0808; */
  background-color: #fef5ed;
  color: #dc3545;
}
.listProducts-content-row-remove i {
  /* margin-right: 4px; */
}
.listProducts-content-row-edit {
  border-radius: 4px;
  margin-right: 6px;
  color: #fff;
  background-color: #28a745;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px 8px;
  z-index: 1;
}
.listProducts-content-row-edit:hover {
  background-color: #f6d7a7;
}
.listProducts-content-row-edit i {
  /* margin-right: 4px; */
}
.listProducts-content-row-checkbox {
  zoom: 1.5;
}
/*  page*/
.listProducts-page {
  text-align: center;
  font-size: 24px;
  margin: 24px 24px;
  transition: all 0.2 linear;
}
.listProducts-page i:hover {
  color: rgb(22, 74, 156);
}

.fa-step-backward,
.fa-step-forward {
  font-size: 24px;
  cursor: pointer;
  margin: 0 8px;
}

/* content input  */

/* product detail */
.listProducts-content-row-size {
  cursor: pointer;
  height: 40px;
  /* margin-right: -2px; */
  border: 1px solid #ccc;
}
.listProducts-content-row-size:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.addProduct-content-text-bot-view {
  margin-top: 30px;
  text-align: center;
  /* display:flex; */
  /* justify-content: space-around; */
}

.addProduct-content-size-row-add {
  border-radius: 4px;
  border: solid #ccc 1px;
  padding: 2px 9px;
  cursor: pointer;
  background-color: #ffa9a9;
}

.tbody-nth tr:nth-child(even) {
  background-color: #dddddd;
}

/* IMG */

.addProduct-content-text-bot-where-label-view {
  margin-right: 22px;
}

/* button gan avatar */
.button-hoangkui {
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 1px rgb(68, 39, 39);
  color: #b91646;
  background-color: #88e0ef;
  transition: all 0.2 linear;
  cursor: pointer;
  margin: 0 8px;
}
.button-hoangkui:hover {
  background-color: #b91646;
  color: #88e0ef;
}
.button-hoangkui .fas {
  /* margin-right: 6px; */
}
.button-hoangkui .far {
  /* margin-right: 6px; */
}
/* product edit */
.add-button-edit {
  padding: 4px 8px;
  background-color: #8595a3;
  margin-left: 80px;
}
.button-hoangkui-s {
  padding: 4px 8px;
}
.size-edit {
  color: white;
  background-color: #28a745;
}
.size-edit:hover {
  color: #17a2b8;
  background-color: white;
}
.size-delete {
  color: white;
  background-color: #dc3545;
}
.size-delete:hover {
  color: #dc3545;
  background-color: white;
}

.modal-hoangkui {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content-hoangkui {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-input {
  font-size: 24px;
  /* text-align: right; */
  /* padding-right:40%; */
  /* margin:auto; */
  /* display:flex;
  align-items: center;
  justify-content: center; */
  /* width: 144px; */
}
.modal-input-container {
  text-align: right;
  margin: 8px 0;
  padding-right: 40%;
}
.modal-input-label {
  margin-right: 10px;
  /* margin:auto; */
  vertical-align: middle;
  color: #5eb1b1;
}
.modal-input input {
  color: #0e8b8b;
  vertical-align: middle;
  /* margin-bottom: 4px; */
}
.modal-input-label-select {
  margin: auto;
  font-size: 18px;
  /* height: 25px; */
  color: #52abab;
  /* padding: 6px 3px; */
  box-sizing: border-box;
  width: 80px;
}
.center-hoangkui {
  text-align: center;
  padding: 0px;
  margin-right: -220px;
}
.modal-input-display-img {
  width: 160px;
  object-fit: cover;
}
.center-center-hoangkui {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} */
.modal-input-container input {
  margin-left: 8px;
}
.modal-button-save {
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #007bff;
  cursor: pointer;
  color: white;
  transition: all 0.2 linear;
  margin-right: -50px;
  margin-top: 20px;
}
.modal-button-save:hover {
  background-color: white;
  color: #007bff;
}
.modal-button-close {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 6px;
  padding: 8px 16px;
  /* border: 1px solid red; */
  border: none;
  font-size: 16px;
  /* font-weight: 500; */
  background-color: red;
  color: white;
  cursor: pointer;
}
.modal-button-close .fas {
  margin-right: 6px;
}
.modal-button-close:hover {
  color: red;
  background-color: rgb(180, 151, 151);
}
/* login admin */
.modal-admin-login {
  display: block;
  background-color: #363740;
  opacity: 1;
}
.modal-content-admin {
  padding: 30px 0 100px 0;
  margin-top: -20px;
  color: #ff851b;
}
.modal-content-admin i {
  font-size: 70px;
  color: #ff851b;
}
.content-admin-heading {
  font-weight: 600;
  font-size: 22px;
}
.content-admin-des {
  font-weight: 300;
  color: #9fa2b4;
}
.admin-container {
  text-align: left;
  padding-left: 30px;
  margin: 16px 40px 16px 0px;
}
.admin-container-label {
  display: block;
  font-weight: 500;
  color: #9fa2b4;
  margin-bottom: 6px;
}
.admin-container-input {
  width: 100%;
  outline: none;
  padding: 12px 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.admin-container ::placeholder {
  color: #9fa2b4;
}
.admin-button {
  color: white;
  background-color: #3751ff;
  width: 90%;
  padding: 10px;
  /* margin: 0 20px; */
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.admin-button:hover {
  opacity: 0.9;
}
.button-disable {
  cursor: default;
  opacity: 0.8;
  color: #ccc;
}
.button-disable:hover {
  color: #ccc !important;
}
.page-button {
  outline: none;
  border: none;
  background-color: #fff;
}
.total-detail {
  /* margin-top: 16px; */
  /* width: 100%; */
  background-color: rgb(108, 164, 209);
  line-height: 0;
  box-sizing: border-box;
  padding: 0 30px 0 11px;
  border-radius: 6px;
  margin-right: 2px;
  color: white;
  margin-top: 1px;
}
.total-detail-name {
  font-size: 20px;
  display: inline-block;
}
.total-detail-sale {
  font-size: 20px;
  margin-left: 248px;
  display: inline-block;
}

.total-detail-remain {
  font-size: 20px;
  display: inline-block;
  margin-left: 182px;
}
/* tuy co ung bien */
.table-heading {
  background-color: #6c7ae0;
  color: white;
}
.table-heading p {
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  line-height: 0;
}
.table-heading-stt {
  margin-left: 11px;
}
.table-heading-size {
  margin-left: 18px;
}
.table-heading-size-view {
  margin-left: 80px;
}
.table-heading-color {
  margin-left: 18px;
}
.table-heading-sale {
  margin-left: 72px;
}
.table-heading-remain {
  margin-left: 80px;
}
.table-heading-remain-edit {
  margin-left: 68px;
}
.table-heading-button {
  margin-left: -40px;
}
.table-heading-color-edit {
  margin-left: 66px;
}
.table-heading-size-id {
  margin-left: 28px;
}
.total-detail-remain-edit {
  margin-left: 212px;
}
.total-detail-sale-edit {
  margin-left: 114px;
}
