.Welcome{
    position :absolute;
    top:0;
    right:0;
    bottom :0;
    width:87vw;
    background-color: lightblue;
}

.wctext{
    font-size:65px;
    font-style:oblique;
    font-weight: bold;

    position: absolute;
height: 44px;
left: 225px;
right: 33px;
top: 285px;
}