@import url(https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css);


.ThongTinCaNhan{
    position :absolute;
    top:0;
    right:0;
    bottom :0;
    width:87vw;
    .label{
        position: absolute;
    height: 44px;
    left: 50px;
    right: 33px;
    top: 30px;
    
    
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    
    letter-spacing: 0.3px;
    
    color: grey;
    }
    .ava{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 30px;
        border-radius: 50%;
        //overflow: hidden;
    
    }
    .name{
        position: absolute;
    height: 44px;
    right: 90px;
    top: 30px;
    }

    .outerBox{
        position: absolute;
        width: 1000px;
    height: 675px;
    top: 70px;
    left: 160px;
    background: #EBEAEA;
    .innerBox{
        border-radius: 300px;
        position: absolute;
        width: 920px;
    height: 630px;
    margin-top: 25px;
    margin-left: 40px;
    background: #FFFFFF;

  
    
    .bigName{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 89% */
    position: absolute;
    top : 45px;
    left: 375px;
    
    color: #1A1C1D;
    }
    .submitAva{
        position: absolute;
        top: 180px;
        left: 150px;
    }
 
    
    .BigAva{
        position: absolute;
        top: 45px;
        left: 150px;
        width: 120px;
        height : 120px; 
        border-radius: 50%;
        overflow: hidden;
    }
    .hardIfoBar1{
      
        font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 21px;
    position: absolute;
    top : 100px;
    left: 375px;
    
    color: #1A1C1D;
    }
    
    .hardfInfo1{
        
        position: absolute;
        top : 105px;
        left: 495px;
    }
    .hardIfoBar2{
    
        font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 21px;
    position: absolute;
    top : 130px;
    left: 375px;
    
    color: #1A1C1D;
    }
    
    .hardfInfo2{
        position: absolute;
        top : 135px;
        left: 495px;
    }
   
    
    .birthdayBar{
        position: absolute;
    height: 21px;
    left: 100px;
        top: 250px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    text-align: right;
    
    color: #8083A3;
    }
    
    .emailBar{
        position: absolute;
    height: 21px;
    left: 100px;
        top: 300px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    text-align: right;
    
    color: #8083A3;
    }
    .addressBar{
        position: absolute;
    height: 21px;
    left: 100px;
        top: 350px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    text-align: right;
    
    color: #8083A3;
    }
    .phoneNumberBar{
        position: absolute;
    height: 21px;
    left: 100px;
        top: 400px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    text-align: right;
    
    color: #8083A3;
    }
    .cccdBar{
        position: absolute;
    height: 21px;
    left: 100px;
        top: 450px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    text-align: right;
    
    color: #8083A3;
    }
    .birthdayPicker{
        position: absolute;
    height: 21px;
    left: 375px;
        top: 250px;
    }
    .emailText{
        position: absolute;
    
    left: 375px;
    top: 300px;
        background: #FCFDFE;
        /* grayscale / gray lightest */
        
        border: 1px solid #F0F1F7;
        box-sizing: border-box;
        border-radius: 8px;
        width: 30vw;
        height: 2.5vw;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    
    color: #1A1C1D;
    }
    
    .addressText{
        position: absolute;
    
    left: 375px;
    top: 350px;
        background: #FCFDFE;
        /* grayscale / gray lightest */
        
        border: 1px solid #F0F1F7;
        box-sizing: border-box;
        border-radius: 8px;
        width: 30vw;
        height: 2.5vw;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    
    color: #1A1C1D;
    }
    
    .phoneNumberText{
        position: absolute;
    
    left: 375px;
    top: 400px;
        background: #FCFDFE;
        /* grayscale / gray lightest */
        
        border: 1px solid #F0F1F7;
        box-sizing: border-box;
        border-radius: 8px;
        width: 30vw;
        height: 2.5vw;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    
    color: #1A1C1D;
    }
    
    .cccdText{
        position: absolute;
    
    left: 375px;
    top: 450px;
        background: #FCFDFE;
        /* grayscale / gray lightest */
        
        border: 1px solid #F0F1F7;
        box-sizing: border-box;
        border-radius: 8px;
        width: 30vw;
        height: 2.5vw;
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 87% */
    
    
    color: #1A1C1D;
    }
    
   
    
    

    }
    }
    .updateButton{
        position: absolute;
    width: 180px;
    height: 70px;
    left: 690px;
    top: 520px;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: white;
    background: #54B6E0;
    }
    
}
