.DonHang{
    position :absolute;
    top:0;
    right:0;
    bottom :0;
    width:87vw;
    .outerBox{
        position: absolute;
        width: 1300px;
    height: 675px;
    top: 70px;
    left: 20px;
    /*background: #EBEAEA;*/
    background: #EBEAEA;
    }
}
.label{
    position: absolute;
height: 44px;
left: 50px;
right: 33px;
top: 30px;


font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
/* identical to box height */

letter-spacing: 0.3px;

color: grey;
}

.ava{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 50%;
    //overflow: hidden;

}
.name{
    position: absolute;
height: 44px;
right: 90px;
top: 30px;
}
