.listProducts-heading {
  display: flex;
  justify-content: space-between;
  height: 52px;
  overflow: hidden;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  font-size: 16px;
}
.listProducts-heading-title {
  color: #505eb1;
  font-size: 22px;
}
.listProducts-heading-search {
  min-width: 310px;
  background-color: #996666;
  border-radius: 8px;
  padding: 8px 10px;
  border: #3a3131;
  font-size: 16px;
}
::placeholder {
  color: #fff;
}
input, select, textarea .listProducts-heading-search{
    color: #fff;
}
.listProducts-heading-add-product {
  padding: 0 4px;
  background-color: #996666;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  border: #3a3131;
  cursor: pointer;
  font-size: 16px;
}
.listProducts-heading-add-product:hover {
  /* color: #62e01a; */
  background-color: rgb(180, 180, 180);
}
.listProducts-heading-info {
    display: flex;
  align-items: center;
  cursor: pointer;
}

.listProducts-heading-info-name {
}
.listProducts-heading-info-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 8px;
}


/* table */
.listProducts-content-table{
  width:100%;
  margin: 0;
  border-collapse: collapse;
  text-align: center;

}
.listProducts-content-row{

}
.listProducts-content-row-heading-table{
  background-color: #00ff38;
  border-spacing: 0;
  color: #fff;
  /* font-size: 16px; */
  height: 42px;
  /* border-radius: 53px; */
  /* overflow: hidden; */
}

.listProducts-content-row-remove{
  border-radius: 4px;
  color: #fff;
  background-color: #ff0808;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px 8px;
}
.listProducts-content-row-remove:hover{
  /* color:#ff0808; */
  background-color: rgb(36, 28, 136);
}
.listProducts-content-row-edit{
  border-radius: 4px;
  margin-right: -14px;
  color: #fff;
  background-color: #d38f21;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px 8px;
}
.listProducts-content-row-edit:hover{
  background-color: rgb(71, 199, 211);
}
.listProducts-content-row-checkbox{
  zoom: 1.5;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
/*  */